{% extends "base.html" %}

{% block content %}

    <div class="btn-group btn-group-lg" role="group" aria-label="Действия">
        <a href="{{ url_for('search_price') }}"><button type="button" class="btn btn-info">Фильтр по цене</button></a>
        <a href="{{ url_for('search_store') }}"><button type="button" class="btn btn-info">Фильтр по магазину</button></a>
    </div>

    {% for item in films %}
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/poster/' + item[3]) }}" alt="картинка" >
            <div class="card-body">
                <h3 class="card-title">{{ item[0] }}</h3>
                <p class="card-text">{{ item[1] }}</p>
                <a href="/film/{{ item[2] }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
